<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
 
</head>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7fb;
    align-items: left;
    justify-content: left;
    height: 10vh;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  h2{
    margin-left: 25px;
    font-family:'Times New Roman', Times, serif;
  }
  h3{
    margin-left: 25px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 20px;
  }
  
  .dropdown button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  hr{
    border: 2px solid #ddd;
  }
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
</style>
<body>

  <h1>ADMIN</h1><hr>
  <br>
  <h2>Classes Available:</h2>
  <div class="dropdown" id="csADropdown">
    <button>CS-A</button>
    <div class="dropdown-content">
      <a href="#">Attendance</a>
      <a href="#">CIE</a>
      <a href="#">Report</a>
    </div>
  </div>
  <div class="dropdown" id="csADropdown">
    <button>CS-B</button>
    <div class="dropdown-content">
      <a href="#">Attendance</a>
      <a href="#">CIE</a>
      <a href="#">Report</a>
    </div>
  </div>
  <div class="dropdown" id="csADropdown">
    <button>IS-A</button>
    <div class="dropdown-content">
      <a href="#">Attendance</a>
      <a href="#">CIE</a>
      <a href="#">Report</a>
    </div>
  </div>
  <div class="dropdown" id="csADropdown">
    <button>IS-B</button>
    <div class="dropdown-content">
      <a href="#">Attendance</a>
      <a href="#">CIE</a>
      <a href="#">Report</a>
    </div>
  </div>
  <div class="dropdown" id="csADropdown">
    <button>CD-A</button>
    <div class="dropdown-content">
      <a href="#">Attendance</a>
      <a href="#">CIE</a>
      <a href="#">Report</a>
    </div>
  </div><br><br><br><br><br>
  <h3>Admin Details:<br><br>Dr. Shanmukha Nagaraj<br>Dean Student Affairs<br>
    deanstudentaffairs@rvce.edu.in<br>98364 37438<br> </h3>


</body>
</html>